<template>
  <v-container class="fill-height">
    <v-row justify="center" align="center">
      <v-col cols="12" class="text-center">
        <h1 class="display-4">404</h1>
        <h2 class="subtitle-1">Page not Found</h2>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'page-404',
  metaInfo: {
    title: '404'
  }
};
</script>

<style>
</style>