<template>
  <div>
    <about-banner />
    <v-container>
      <!-- Headline -->
      <v-row
        align="center"
        justify="center"
        class="mb-10 text-md-left text-center"
      >
        <v-col cols="9"
          ><h2 class="display-1 mb-6" order-md="1">What's this guild about?</h2>
          <p class="body-1">
            We are a small raiding-social oriented guild with a tight-knit
            family culture. As one of the fastest growing guilds in MapleSaga,
            we thrive principles of diversity, inclusion and self-expression.
            Whether you're a hardcore raider or a casual player that likes to
            log onto play once a week, you have a place in Sirius.. And you can
            read below as to what makes us unique!
          </p>
        </v-col>
      </v-row>
      <v-row
        align="center"
        justify="center"
        class="mb-10 text-center"
        v-for="(item, index) in items"
        :key="index"
      >
        <v-col cols="12" md="5" :order-md="index % 2 == 0 ? 2 : 1"
          ><g-image :src="item.image" height="400" width="500" />
          <p>
            Image Credits to:
            <a
              :href="item.source.link"
              target="_blank"
              rel="noopener noreferrer"
              >{{ item.source.name }}</a
            >
          </p></v-col
        >
        <v-col cols="12" md="5" :order-md="index % 2 == 0 ? 1 : 2"
          ><h3 class="headline mb-6">{{ item.title }}</h3>
          <p class="body-1">
            {{ item.description }}
          </p>
        </v-col>
      </v-row>
      <v-row align="center" justify="center" class="mb-10 text-center">
        <v-col cols="12" md="5"
          ><g-image
            src="@/assets/images/about-6.png"
            height="400"
            width="500"
          />
          <p>
            Image Credits to:
            <a
              href="https://forums.maplesaga.com/index.php?threads/phantoms-screenshot-thread.12243/"
              target="_blank"
              rel="noopener noreferrer"
              >MapleSaga</a
            >
          </p></v-col
        >
        <v-col cols="12" md="5"
          ><h3 class="headline mb-6">Family Culture</h3>
          <p class="body-1">
            We’re a smaller guild that rarely opens up new spots even though we
            regularly get maxed out and for one simple reason.
            <span class="font-weight-bold"
              >We want to make sure that other guild members know who you
              are!</span
            >
          </p>
          <p class="body-1">
            (Don’t be surprised from the moment you join, you’ll be asked for
            your name + timezone etc).
          </p>
          <p class="body-1">
            We want Sirius to be your online family (that you feel comfortable
            talking to outside of game, going for offline events together,
            talking about good days or bad days etc). And we make every
            reasonable effort to ensure you feel safe, seen, loved and belonging
            here.
          </p>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="12" md="11">
          <p class="body-1">
            Interested in joining? We look for people that meet ALL of the
            criteria below:
          </p>
          <v-container>
            <ul class="body-2">
              <li>
                People whose characters have never been a part of Sirius
                <span class="font-italic"
                  >(if you voluntarily left Sirius on any of your characters,
                  sorry! But we’re happy to make any rec</span
                >ommendations or arrange introductions)
              </li>
              <li>
                Main characters only (a character where you do most of your
                raiding on OR a character where the resources you allocate goes
                towards)
              </li>
              <li>
                <span class="font-weight-bold">Sociability:</span> How well
                would they interact with other members? Do they actually chat /
                socialize / make efforts to get to know people?
              </li>
              <li>
                <span class="font-weight-bold">Open-mindedness:</span> Are they
                someone that is able to get along with people of different
                gender, race, sexual orientation, ages, ethnicities etc. No
                racial, xenophobic, homophobic, sexual slurs allowed.
              </li>
              <li>
                <span class="font-weight-bold">Self sufficiency:</span> Are they
                able to grind / fund / support themselves? Or do they need
                someone in their corner 24/7? Activity: Do they log on at least
                once a week?
              </li>
              <li>
                <span class="font-weight-bold">Activity:</span> Do they log on
                at least once a week?
              </li>
              <li>
                <span class="font-weight-bold">Contribution:</span> Do they make
                efforts to help out guild members or reciprocate the help in
                some way or another?
              </li>
              <li>
                <span class="font-weight-bold">Trust:</span> Sirius is designed
                to be a guild that thrives on principles of inclusion,
                open-mindedness, diversity as well as trust. What happens in the
                guild MUST stay within the guild. So can the member be trusted
                to keep what happens within the guild, in the guild
              </li>
            </ul>
          </v-container>
          <p class="body-1">
            Please note that we’re LGBTQA+ friendly guild, and our official
            language within the guild is English.
          </p>
          <p class="body-1">
            As well, if any of your characters in the server is 4th job and
            above, you’ll also have to be approved by all of the jr’s and the
            guild leader to join.
          </p>
          <p class="body-1 font-weight-bold underline">
            If you’re interested in joining, please whisper any of the Sirius
            members in-game and ask them to connect you to jr’s.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import AboutBanner from '@/components/AboutBanner';

export default {
  metaInfo: {
    title: 'About'
  },
  components: {
    'about-banner': AboutBanner
  },
  data() {
    return {
      items: [
        {
          title: 'Best of Both Worlds',
          description:
            "Whether you're a hardcore raider or a casual player that likes to log onto play once a week, you have a place in Sirius. We look more for the personality + cultural fit than the player statistics. You can press the button below to learn more.",
          image: require('@/assets/images/about-1.jpg'),
          source: {
            name: 'Nexon',
            link:
              'http://forums.maplestory2.nexon.net/discussion/29982/maplestory-screenshot-image-share'
          }
        },
        {
          title: 'Safe Environment',
          description:
            'We’re proud to operate on the principles of diversity, inclusion and self-expression. This allows us to create a safe environment for people of various backgrounds (sexual orientations, ethnicities, races, religions etc) and have policies around that. We’re also Saga’s only openly LGBTQA+ friendly guild.',
          image: require('@/assets/images/about-2.jpg'),
          source: {
            name: 'Gamespot',
            link: 'https://gamefaqs.gamespot.com/pc/924697-maplestory/images/28'
          }
        },
        {
          title: 'YOU call the shots.',
          description:
            'Many guilds say “we care about our members’ opinions” etc. But most of the time, members do not get any say on guild matters at all. To remedy that, Sirius is run by voting system where guild members are regularly asked to vote (or write down their opinions anonymously) in important guild matters… And guild management steers the ship based on that.',
          image: require('@/assets/images/about-3.jpg'),
          source: {
            name: 'MMO Pulse',
            link: 'https://mmopulse.com/game/maplestory-m'
          }
        },
        {
          title: 'Member Perks System',
          description:
            'There is a PLENTY of room for you to grow in Sirius all the way from new to end game. We have a very clear member perks system to help you celebrate your growth (from the moment you join to level 200). Also our lineup of experienced jr’s and players allow you to navigate from newbie to end game content without sweat. #ShowMeDaWae',
          image: require('@/assets/images/about-4.jpg'),
          source: {
            name: 'Gamespot',
            link:
              'https://gamefaqs.gamespot.com/pc/924697-maplestory/images/212'
          }
        },
        {
          title: 'Growth Potential',
          description:
            'Members have the first-dibs on any guild events or raids hosted by the management as long as they meet the deadline + cutoff. (This is why our members can start participating in raids as early as level 85, and be a part of members only events such as House Cup).',
          image: require('@/assets/images/about-5.png'),
          source: {
            name: 'MapleLegends',
            link:
              'https://forum.maplelegends.com/index.php?threads/old-school-maplestory-memories-photos-videos.3851/'
          }
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}
</style>