<template>
  <div>
    <hero-banner />
    <v-container>
      <v-row
        align="center"
        justify="center"
        class="mb-10 text-md-left text-center"
      >
        <v-col cols="12" md="5" xl="4" order-md="2">
          <g-image
            src="@/assets/images/galaxy-1.jpeg"
            height="400"
            width="500"
          />
        </v-col>
        <v-col cols="12" md="5" xl="4">
          <h2 class="display-1 mb-6" order-md="1">Who is Sirius for?</h2>
          <p class="body-1">
            Whether you're a hardcore raider or a casual player that likes to
            log onto play once a week, you have a place in Sirius. We look more
            for the personality + cultural fit than the player statistics. You
            can press the button below to learn more.
          </p>
          <div class="text-center">
            <g-link to="/about">
              <v-btn rounded large color="primary" dark class="px-10"
                >Learn More</v-btn
              >
            </g-link>
          </div>
        </v-col>
      </v-row>
      <v-row
        align="center"
        justify="center"
        class="mb-10 text-md-left text-center"
      >
        <v-col cols="12" md="5" xl="4">
          <g-image
            src="@/assets/images/galaxy-2.jpeg"
            height="400"
            width="500"
          />
        </v-col>
        <v-col cols="12" md="5" xl="4">
          <h2 class="display-1 mb-6">On this website...</h2>
          <p class="body-1">
            This is a website where you can learn more about Sirius (and if
            you're a member already, you can go find member exclusive resources
            and links in this website as well). So surf around!
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import HeroBanner from '@/components/HeroBanner';

export default {
  metaInfo: {
    title: 'Home'
  },
  components: {
    'hero-banner': HeroBanner
  }
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
