<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center" v-if="auth === null">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </v-row>
    <v-container class="px-12 mb-12" v-show="auth">
      <v-row align="center" justify="space-around" class="py-10 mb-8">
        <v-col cols="12" md="4">
          <g-image src="@/assets/images/members-banner.png" />
        </v-col>
        <v-col cols="12" md="6">
          <h1 class="display-2 mb-10">Welcome!</h1>
          <p class="subtitle-1">
            This is members only section of Sirius guild website. This is where
            you can find guild discord messenger links, any event information,
            additional passcodes to access parts of the websites.
          </p>
          <p class="subtitle-1">
            The passcode to this page is updated on a regular basis so check
            guild BBS in game.
          </p>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="12" md="4" v-for="(item, index) in items" :key="index">
          <app-card
            :title="item.title"
            :description="item.description"
            :link="item.link"
            :internal="item.internal"
            ><g-image
              :src="
                require(`!!assets-loader?width=350&height=250!@/assets/images/${item.src}`)
              "
              width="350"
              height="250"
              fit="inside"
          /></app-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="showDialog" persistent max-width="400">
      <form-password @onSignIn="handleSignIn" ref="form" />
    </v-dialog>
  </v-container>
</template>

<script>
import firebase from '@/utils/firebase.js';

import FormPassword from '@/components/FormPassword.vue';
import AppCard from '@/components/AppCard';

export default {
  metaInfo: {
    title: 'Members'
  },
  components: {
    'form-password': FormPassword,
    'app-card': AppCard
  },
  data() {
    return {
      auth: null,
      items: [
        {
          title: 'Guide Directory',
          description:
            'Looking for resources / guides? Use the code <span class="font-weight-bold" style="text-decoration: underline;">“SIRIUS”</span> to access this directory.',
          src: 'member-1.jpg',
          link: 'https://airtable.com/shrxj4vCPe8HEKZ4w'
        },
        {
          title: 'Open Votes',
          description:
            'Here’s where you can view any votes that are going on in the guild.',
          src: 'member-2.jpg',
          link: 'https://tinyurl.com/guildievotes11'
        },
        {
          title: 'Discord Messenger',
          description:
            'Click the button to access our guild discord messenger’s INVITE link.',
          src: 'member-3.jpg',
          link: 'https://discord.gg/WVfcWud'
        },
        {
          title: 'Past Votes',
          description:
            'Here is a running doc of all the past votes results. #SiriusHistory',
          src: 'member-4.jpg',
          link:
            'https://docs.google.com/document/d/1QB3P_vIceYGLQ1z_bV02SdiWnmA7l0zGmqBnkmt-9ko/edit?usp=sharing'
        },
        {
          title: 'Policies',
          description:
            'Here’s where you can view guild’s policies to see how things run.',
          src: 'member-5.jpg',
          link: '/policies',
          internal: true
        },
        {
          title: 'Member Perks',
          description: 'Perks available for you as an active Sirius member.',
          src: 'member-6.jpg',
          link: 'https://tinyurl.com/guildievotes11'
        }
      ]
    };
  },
  computed: {
    showDialog() {
      if (this.auth !== null) return !this.auth;
      return false;
    }
  },
  async created() {
    // Detect whether to show dialog or content
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.auth = true;
        this.$refs.form.endLoading();
      } else {
        this.auth = false;
      }
    });
  },
  methods: {
    handleSignIn(token) {
      firebase
        .auth()
        .signInWithCustomToken(token)
        .catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // ...
        });
    }
  }
};
</script>
