<template>
  <div class="about__container mb-10">
    <v-container class="fill-height">
      <v-row align="center" justify="center">
        <v-col cols="12" class="about__text text-center">
          <h1 class="display-2 mb-4">About Sirius</h1>
          <p class="subtitle-1">
            Looking to learn more about Sirius? Possibly thinking of joining but
            not sure why Sirius over any other guild? Here’s where you can find
            out (most of your) answers.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'about-banner'
};
</script>

<style lang="scss" scoped>
.about {
  &__container {
    position: relative;
    overflow: hidden;
    padding: 100px 0px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('~@/assets/images/galaxy-1.jpeg');
      background-size: cover;
      filter: blur(1px);
      transform: scale(1.03);
    }

    & .container {
      position: relative;
    }
  }

  &__text {
    color: white;
  }
}
</style>
