<template>
  <v-card class="mx-auto text-center white--text" color="#595858" hover>
    <slot></slot>
    <v-card-title class="text-uppercase justify-center title my-5"
      >{{ title }}
    </v-card-title>

    <v-card-subtitle v-html="description" class="mb-7 white--text" />

    <v-card-actions class="justify-center">
      <g-link :to="link" v-if="internal">
        <v-btn rounded depressed color="#61ce70" class="px-10 mb-12">
          Click here
        </v-btn>
      </g-link>
      <a :href="link" v-else target="_blank" rel="noopener noreferrer">
        <v-btn rounded depressed color="#61ce70" class="px-10 mb-12">
          Click here
        </v-btn>
      </a>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'app-card',
  props: {
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    },
    internal: {
      type: Boolean,
      required: false
    }
  }
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
</style>