<template>
  <v-footer padless>
    <v-col class="text-center body-2" cols="12">© 2019 Sirius</v-col>
    <v-col class="text-center body-2" cols="12"
      >Developed with ❤️ by
      <a
        href="https://gitlab.com/TeamPotatoes/sirius-website"
        target="_blank"
        rel="noopener noreferrer"
        >TomYaMee</a
      ></v-col
    >
    <v-col class="text-center body-2" cols="12">
      Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank"
        rel="noopener noreferrer">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"
        rel="noopener noreferrer">FlatIcon</a></div>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'app-footer'
};
</script>

<style lang="scss" scoped>
.v-footer {
  background-color: #3a3a3a;
  padding: 30px 0;

  div {
    color: white;
    padding: 0;
  }
}
</style>