<template>
  <v-card>
    <v-card-title>
      <span class="headline">Members only access</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-form>
              <v-text-field
                label="Password"
                v-model="password"
                type="password"
                :error="error"
                :error-messages="errorMsg"
                required
                @keydown.enter.prevent="signIn"
              ></v-text-field>
              <div class="text-right">
                <v-btn
                  color="blue darken-1"
                  :loading="loading"
                  @click.prevent="signIn"
                  >Submit</v-btn
                >
              </div>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import axios from 'axios';

export default {
  name: 'form-password',
  data() {
    return {
      password: '',
      error: false,
      errorMsg: '',
      loading: false
    };
  },
  methods: {
    async signIn() {
      if (this.password === '') {
        this.error = true;
        this.errorMsg = 'Please input password';
        return;
      }
      this.loading = true;
      try {
        let response = await axios.post(
          'https://us-central1-api-project-538004955154.cloudfunctions.net/authenticate',
          {
            password: this.password
          }
        );
        this.$emit('onSignIn', response.data);
      } catch (error) {
        this.error = true;
        this.errorMsg = error.response.data;
        this.loading = false;
      }
    },
    endLoading() {
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.v-btn {
  margin-top: 10px;
}
</style>