<template>
  <div class="hero__container mb-12">
    <v-container class="fill-height">
      <v-row align="center" justify="center">
        <v-col cols="12" sm="5">
          <g-image src="@/assets/images/hero-image.png" />
        </v-col>
        <v-col cols="12" sm="7" class="hero__text">
          <h1 class="display-2 mb-4">Welcome to Sirius!</h1>
          <p class="subtitle-1">
            We are a small raiding-social oriented guild with a tight-knit
            family culture. As one of the fastest growing guilds in MapleSaga,
            we thrive principles of diversity, inclusion and self-expression.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'hero-banner'
};
</script>

<style lang="scss" scoped>
.hero {
  &__container {
    position: relative;
    overflow: hidden;
    padding: 40px 0px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('~@/assets/images/hero-banner.jpg');
      background-size: cover;
      background-position: -180px 25vw;

      filter: blur(1px);
      transform: scale(1.03);

      @media screen and (min-width: 600px) {
        background-position: 0 -25vw;
      }
    }

    & .container {
      position: relative;
    }
  }

  &__text {
    color: white;
  }
}
</style>
