<template>
  <Layout>
    <transition name="fade" appear>
      <router-view />
    </transition>
  </Layout>
</template>

<script>
export default {};
</script>

<style>
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}
</style>