<template>
  <v-app class="body">
    <header>
      <v-app-bar class="header" max-height="64">
        <v-toolbar-title
          ><g-link class="header__link display-1" id="index" to="/">{{
            $static.metadata.siteName
          }}</g-link></v-toolbar-title
        >
        <v-spacer></v-spacer>
        <nav class="nav d-md-block d-none">
          <ul>
            <g-link class="nav__link" to="/" exact>Home</g-link>
            <g-link class="nav__link" to="/about/">About</g-link>
            <a
              class="nav__link"
              href="https://airtable.com/shrr1p5REQ0hC1OEc"
              target="_blank"
              rel="noopener noreferrer"
              >Submit a Guide</a
            >
            <g-link class="nav__link" to="/members/">Members</g-link>
          </ul>
        </nav>

        <nav class="nav-mobile d-block d-md-none">
          <v-btn text icon @click="toggleMenu">
            <v-icon>menu</v-icon>
          </v-btn>
        </nav>
      </v-app-bar>

      <div :class="`menu ${menu ? 'menu-show' : ''}`">
        <ul>
          <li>
            <g-link class="nav__link" to="/" exact>Home</g-link>
          </li>
          <li>
            <g-link class="nav__link" to="/about/">About</g-link>
          </li>
          <li>
            <a
              class="nav__link"
              href="https://airtable.com/shrr1p5REQ0hC1OEc"
              target="_blank"
              rel="noopener noreferrer"
              >Submit a Guide</a
            >
          </li>
          <li>
            <g-link class="nav__link" to="/members/">Members</g-link>
          </li>
        </ul>
      </div>
    </header>

    <v-content class="content">
      <slot />
    </v-content>
    <app-footer />
  </v-app>
</template>

<script>
import AppFooter from '@/components/AppFooter';

export default {
  components: {
    'app-footer': AppFooter
  },
  data() {
    return {
      menu: false
    };
  },
  methods: {
    toggleMenu() {
      this.menu = !this.menu;
    }
  },
  watch: {
    $route() {
      if (this.menu) this.menu = !this.menu;
    }
  }
};
</script>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style lang="scss">
.header {
  padding: 0px 20px;

  @media screen and (min-width: 600px) {
    padding: 0px 60px;
  }

  &__link#index {
    text-decoration: none;
    color: black;
  }

  .nav {
    &__link {
      text-decoration: none;
      color: black;
      padding: 20px 10px;

      &.active--exact {
        color: #0274be;
      }
    }
  }
}

img {
  max-width: 100%;
}

.menu {
  width: 100vw;
  height: 0px;
  background-color: white;
  transition: height 0.5s;
  overflow: hidden;
  position: absolute;
  z-index: 2;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: none;
      text-align: center;
      width: 100vw;

      a {
        text-decoration: none;
        padding: 18px 00px;
        display: inline-block;
        width: inherit;
        color: #000;

        &.active,
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  &-show {
    height: 240px;
    transition: height 0.5s;
  }
}
</style>
